
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <ul class="d-flex text-center flex-wrap">
        @foreach (var tour in Model)
        {
            <li class="col-xxl-4 col-lg-6 col-md-12 p-2" style="list-style-type: none;">
                <div class="card">
                    <img src="@tour.TUrl" alt="@tour.TName_tour" class="card-img-top" />
                    <div class="card-body">
                        <h3 class="card-title">@tour.TName_tour</h3>
                        <p class="card-text">@tour.TCountry</p>
                        <p style="text-align: left;"> @tour.TDescription</p>
                        <p style="height: 10px" class="card-price">Ціна: @(tour.TPrice.ToString("0.00") + " грн.")</p>
                        <p class="block-description">Кількість місць: @tour.TCount</p>
                        <a href="tour-details.aspx" class="btn btn-primary">Замовити</a>
                    </div>
                </div>
            </li>
        }
    </ul>

    <div class="menu">
        @if (ViewBag.ShowTourManagement != null && ViewBag.ShowTourManagement)
        {
            <ul>
                <li>@Html.ActionLink("Добавить новый тур", "Create", "Tour")</li>
                <li>@Html.ActionLink("Изменить тур", "Edit", "Tour")</li>
                <li>@Html.ActionLink("Удалить тур", "Delete", "Tour")</li>
            </ul>
        }
    </div>
</div>

